# .gitignore

### CodeIgniter ###
*/config/development 
*/logs/log-*.php 
*/logs/!index.html 
*/logs/hybridauth.log
*/cache/* 
*/cache/!index.html
*/cache/!.htaccess
*/avatars/*

### Sublime Text ###
*.sublime-workspace
*.sublime-project

### Other ###
sql/*
