#no-following-message {
	margin-top: 20px;
	padding: 10px 25px 25px;
	text-align: center;
}
#no-following-message h3 {
	font-size: 23px;
	font-weight: bold;
}
#no-following-message p {
	font-size: 17px;
}
#no-following-message .btn {
	display: inline-block;
	margin-top: 5px;
	width: 180px;
}