/* Alphasquare CSS - Global */

html.wait,
html.wait body *,
*.wait, *.wait * {
  cursor: progress !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 100px;
  margin-top: 80px;
  background-color: rgb(236, 240, 241);
}

/* Overrides */
.form-control {
  padding: 6px 9px;
}
.modal-footer {
  margin-top: 0;
}
.btn {
  outline: none !important;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  margin-top: 0;
}
ul.dropdown-menu li a:hover {
  background: #428bca;
  color: white !important;
}
h5 {
  font-weight: bold;
}

/* Helper Classes */
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 16px;
}
.no-margin {
  margin: 0;
}
.page-header {
  margin-top: 20px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
/* iOS7-style blur element and its children */
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  opacity: 0.5;
}

label small {
  font-weight: normal;
}
textarea {
  resize: vertical;
}
textarea.autosize {
  max-height: 150px;
}

/* Secondary Buttons */
.btn-secondary { 
  color: #ffffff; 
  background-color: #444; 
  border-color: #333; 
}
.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary { 
  color: #ffffff; 
  background-color: #333; 
  border-color: #222; 
}

/* Modal loading */
#modal-loading {
  margin: 25px 0;
}

/* Horizontal line with text in middle */
.hr {
  margin: 27px 0;
  padding: 0;
  text-align: center;
  background: #eee;
  height: 1px;
}
.hr span {
  background: white;
  position: relative;
  bottom: 11px;
  padding: 0 10px;
}

/* Fixed Container */
.container {
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 5px;
  padding: 30px 30px 40px;
  margin: 10px auto;
  float: none;
}
.container > .page-header {
  margin-top: 0;
}

/* Sidebar */
@media(max-width:992px) {
  #sidebar {
    margin-top: 15px;
  }
}
/* Sidebar Menu Icons */
#sidebar-menu ul li a .glyphicon {
  display: inline-block;
  margin-right: 5px;
}
#my-following-list img,
#my-follower-list img {
  margin: 0 12px 12px 0;
}

/* Navbar */
.navbar {
  border-radius: 0;
}
.navbar.logged-in {
  border-top: 2px solid #3498db;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(236, 240, 241);
}
.navbar.logged-in .navbar-header {
}
/* Glyphicons */
.navbar.logged-in div .nav li a .glyphicon {
  font-size: 18px;
}
.navbar.logged-in div .nav li a.alerts .glyphicon {
  font-size: 20px;
}
.navbar.logged-in div .nav li a:hover {
  background: none;
}
/* Profile picture */
.navbar.logged-in .nav li a img {
  width: 23px;
  margin-right: 3px;
}
.navbar.logged-in .dropdown > a  {
  background: none!important;
}
.navbar.logged-in .nav.pull-right .dropdown-menu {
  left: -60px;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  font-size: 14px;
}
.navbar.logged-in .nav.pull-right .dropdown-menu .glyphicon {
  padding-right: 5px;
}

/* Navbar Search */
.navbar .navbar-form {
  padding-left: 15px;
}
.navbar .navbar-form input {
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
  padding-left: 16px;
  height: 31px;
  width: 250px;
  margin-top: 3px;
  -webkit-transition: width 0.30s ease-in-out;
  -moz-transition:width 0.30s ease-in-out;
  -o-transition: width 0.30s ease-in-out;
  transition: width 0.30s ease-in-out;
}
.navbar .navbar-form input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 5px rgba(102,175,233,.6);
  width: 350px;
}

/* Mobile Search */
#mobile-search,
#mobile-search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#mobile-search {
  z-index: 1100;
  background: #fff;
  padding: 20px;
  border-bottom: 2px solid #3498db;
}
#mobile-search-overlay {
  height: 100%;
  z-index: 1000;
  background: rgba(255,255,255,0.8);
}

/* On mobile...
 * Adds extra margin to user dropdown
 * And hides sidebar
 */
@media screen and (max-width:767px) {
  .nav-user {
    margin: 5px !important;
  }
  #sidebar {
    display: none;
  }
}

.navbar .navbar-brand {
  color: #3498db;
  font-size: 23px;
}
.navbar .navbar-brand, .alphasquare {
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
}

/* Alert/messages count */
.menu-count {
  font-size: 10px;
  padding: 2px 3px;
  position: absolute;
}
.navbar.logged-in .nav > li a .menu-count {
  top: 10px;
  right: 2px;
}
.navbar.logged-in .nav > li a .menu-count.messages {
  right: 2px;
}
.navbar.bottom-menu .menu-count {
  font-size: 11px;
  padding: 0 3px 3px;
  position: absolute;
  color: white;
  top: -3px;
  right: -17px;
}
.navbar.bottom-menu .menu-count.alerts {
  right: -15px;
}

/* Bottom menu nav for mobile */
.navbar.bottom-menu {
  background: #fff;
  border-top: 1px solid #c8c8c8;
  background: rgba(255,255,255,0.95);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.navbar.bottom-menu ul.nav.navbar-nav {
  width: 100%;
  margin: 0 5px !important;
}
.navbar.bottom-menu ul.nav li {
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
}
.navbar.bottom-menu ul.nav li a {
  background: none !important;
  padding-bottom: 5px;
  padding: 5px 0;
  color: #888;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
}
.navbar.bottom-menu ul.nav li.active a {
  color: #3498db;
}
.navbar.bottom-menu span.glyphicon {
  font-size: 21px;
}
.navbar.bottom-menu ul.nav li a span.text {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
/* Frost/blur for bottom menu */
.bottom-menu-blur {
  position: fixed;
  z-index: 100;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px); 
  -o-filter: blur50px);
  filter: blur(5px);
  background: rgba(255,255,255,0.5);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 0;
}

.navbar.logged-in .navbar-brand:hover,
.navbar.logged-in .navbar-brand:focus {
  color: #217dbb;
}

.navbar.logged-out {
  background-color: #3498db;
  border: 0;
}
.navbar.logged-out .navbar-brand {
  color: white;
}
.navbar.logged-out a {
  text-decoration:none;
  color:white;
}
.navbar.logged-out a:hover span {
  text-decoration: underline;
}
.navbar.logged-out .navbar-text {
  padding-right: 5px;
}

/* Slingshot */
#slingshot-container {
  display: none;
}
#slingshot {
  text-align: center;
  max-width: 300px;
  min-width: 300px;
  position: fixed;
  padding: 10px 0 0;
  margin-top: 20px;
  z-index: 1050;
}
#slingshot h3 {
  font-size: 16px;
  margin: 10px 0 0;
}
#slingshot a.user {
  text-decoration: none;
  color: #333;
}
#slingshot a.user:hover {
  color: #777;
}
#slingshot img {
  width: 100px;
  height: 100px;
}
#slingshot .slingshot-actions a {
  display: inline-block;
  margin: 0 10px 0;
  font-size: 23px;
  text-decoration: none;
}
#slingshot .slingshot-actions {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 15px;
}


/* Post bar */
#post-bar textarea {
  height: 50px;
  width: 100%;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  resize: none;
}
#post-bar textarea:focus {
  outline: 0;
  border-color: #ccc;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.08);
  box-shadow: 0 1px 1px rgba(0,0,0,.08);
}
#post-bar textarea:disabled {
  opacity: 0.8;
}

/* Posts */
#posts {
  margin-bottom: 20px;
}
.post {
  width: 100%;
  margin: 20px 0 0 0;
}
.post > a img {
  height: 55px;
  width: 55px;
  float: left;
  margin-right: 10px;
  display: block;
}
.post section .actions {
  position: absolute;
  top: 10px;
  right: 12px;
}
.post section .actions > a {
  font-size: 12px;
  color: #bbb;
  display: block;
  text-decoration: none;
}
.post section .actions a:hover {
  color: #222;
  cursor: pointer;
}
.post section .actions a .caret {
  position: relative;
  bottom: 1px;
}
.post section .actions ul.dropdown-menu {
  margin-left: -130px;
  font-size: 13px;
}
.post section {
  word-wrap: break-word;
  font-size: 17px;
  padding: 15px;
  padding-bottom: 12px;
  margin-left: 73px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  position: relative;
}
.post section div.img img {
  max-width: 300px;
  display: inline-block;
}
@media(max-width:567px) {
  .post section div.img img {
    width: 100%;
  }
}
.post footer {
  border-top: 1px solid #eee;
  font-size: 14px;
  padding-top: 10px;
  margin-top: 15px;
}
.post footer abbr {
  color: #999;
  float: right;
}
@media(max-width:567px) {
  .post footer abbr {
    font-size: 12px;
  }
}

/* Style for posts on the post page */
#post-page .post {
  margin-top: 0;
}
#post-page .post section {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#posts-loading {
  text-align: center;
  margin-top: 30px;
  display: none;
}
#posts-loading img {
  margin-right: 5px;
}

/* Comments */
#comments {
  margin: 0 0 0 73px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#comments .comment {
  border-bottom: 1px solid #ddd;
}
#comments .comment p {
  padding: 15px;
  margin: 0;
}
#comments .comment img {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: -55px;
  margin-top: 10px;
}
#comments .comment footer {
  padding: 0 15px 10px;
  font-size: 13px;
  color: #999;
}
#load-all-comments {
  padding: 8px 15px;
  display: block;
  margin: 0;
  border-bottom: 1px solid #ddd;
  background: #f4f4f4;
}
#load-all-comments img {
  margin-left: 7px;
  width: 20px;
  display: none;
}
#post-comment textarea {
  width: 100%;
  height: 55px;
  padding: 7px 10px;
}
#post-comment {
  padding: 15px;
  margin-bottom: 0;
}

/* People Lists */
#people-list div.user {
  background: #fff;
  width: 31%;
  padding: 10px;
  float: left;
  margin: 0 5px 10px 5px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
@media screen and (max-width:767px) {
  #people-list div.user {
    width: 100%;
  }
}
#people-list div.user img {
  float: left;
  margin-right: 15px;
  width: 80px;
  height: 80px;
}
#people-list div.user span.name {
  font-size: 16px;
  width: 55%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#people-list div.user .btn {
  margin-top: 5px;
}

/* Alerts */
.alerts .alert-container {
  padding: 10px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.alerts .alert-container:not(:last-child) {
  margin-bottom: 10px;
}
.alerts .alert-container.not-clicked {
  background: #f5f5f5;
  box-shadow: 0 0 10px #f8f8f8;
}
.alerts .alert-container img {
  float: left;
  width: 50px;
  height: 50px;
}
.alerts .alert-container div.alert-content {
  margin-left: 60px;
}
.alerts .alert-container div.alert-content p {
  margin-bottom: 0;
}
.alerts .alert-container div.alert-content footer {
  margin-top: 5px;
  font-size: 13px;
  color: #999;
}
.alerts .alert-container div.alert-options {
  float: right;
  font-size: 12px;
  color: #bbb;
}
.alerts .alert-container div.alert-options span {
  margin-left: 3px;
  display: inline-block;
}
.alerts .alert-container div.alert-options span:hover {
  color: #555;
  cursor: pointer;
}
.alerts .alert-container span.read-status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
}

/* Alert Bar */
.notify {
  width: 100%;
  background-color: #3498db;
  display: flex;
  max-height: 50px;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
}

.jquery-notify-bar {
  max-height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 32768;
  font-size: 15px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  background-color: #3498db;
}

.jquery-notify-bar.bottom {
  bottom: 0;
  top: auto;
}

.jquery-notify-bar.error {
  color: #fff;
  background-color: #d9534f;
}

.jquery-notify-bar.warning {
  color: #fff;
  background-color: #f0ad4e;
}

.jquery-notify-bar.success {
  color: #fff;
  background-color: #5cb85c;
}

.jquery-notify-bar.primary {
  color: #fff;
  background-color: #428bca;
}

/* Tooltips */
.tooltip.top .tooltip-arrow {
  bottom: 1px;
  border-top-color: #111;
}
.tooltip.bottom .tooltip-arrow {
  top: 1px;
  border-bottom-color: #111;
}
.tooltip.left .tooltip-arrow {
  right: 1px;
  border-left-color: #111;
}
.tooltip.right .tooltip-arrow {
  left: 1px;
  border-right-color: #111;
}
.tooltip-inner {
  color: #fff;
  background: #111;
  border: 0;
  border-radius: 4px;
  padding: 5px 8px;
  max-width: 400px !important;
  width: auto;
}


/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  color: #555;
  text-align: center;
  padding: 20px 0;
  margin-top: 15px;
  border-top: rgb(236, 240, 241);
}
#footer a {
  margin-left: 8px;
  display: inline-block;
}
@media(max-width:567px) {
  #footer {
    display: none;
  }
  #footer span.links {
    display: block;
    font-size: 13px;
    margin-top: 5px;
  }
}

/* No JS alert bar */
#noscript {
  color: white;
  background-color: #d9534f;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  position: fixed;
  top: 51px;
  width: 100%;
  z-index: 1035;
}
#noscript a { color: white; text-decoration: underline; }
#noscript a:hover { text-decoration: none; }

/* Text helper classes that aren't in Bootstrap version */
.text-bold{font-weight:bold;}.text-italic{font-style:italic;}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}.text-muted{color:#777}.text-primary{color:#428bca}a.text-primary:hover{color:#3071a9}.text-success{color:#3c763d}a.text-success:hover{color:#2b542c}.text-info{color:#31708f}a.text-info:hover{color:#245269}.text-warning{color:#8a6d3b}a.text-warning:hover{color:#66512c}.text-danger{color:#a94442}a.text-danger:hover{color:#843534}

/* Fix for Bootstrap stacked nav */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}