html.wait,
html.wait body *,
*.wait, *.wait * {
  cursor: progress !important;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height for sticky footer */
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  margin-top: 70px;
  background-color:rgb(236, 240, 241);
}

.text-small {
  font-size: 12px;
}
.page-header {
  margin-top: 20px;
}
.page-header h1,
.page-header h2,
.page-header h3 {
  margin-top: 0;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.btn {
  outline: none !important;
}

/* Fixed Container */
.container {
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 4px;
  padding: 30px 30px 50px;
  margin: 10px auto;
  float: none;
}

/* Dashboard Sidebar Menu */
#sidebar-menu ul li a .glyphicon {
  display: inline-block;
  margin-right: 5px;
}

/* Navbar */
.navbar {
  border-radius: 0;
}
.navbar.logged-in {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #3498db;
  background-color: #fff;
}
.navbar .navbar-brand {
  color: #3498db;
  font-size: 23px;
  font-family: 'Lobster', Helvetica, Arial, sans-serif;
}
.navbar.logged-in .navbar-brand:hover,
.navbar.logged-in .navbar-brand:focus {
  color: #217dbb;
}

.navbar.logged-out {
  background-color: #3498db;
  border: 0;
}
.navbar.logged-out .navbar-brand {
  color: white;
}
.navbar.logged-out a {
  text-decoration:none;
  color:white;
}
.navbar.logged-out a:hover span {
  text-decoration: underline;
}

/* Slingshot */
#slingshot-container {
  display: none;
}
#slingshot {
  text-align: center;
  max-width: 300px;
  min-width: 300px;
  position: fixed;
  padding: 10px 0 0;
}
#slingshot h3 {
  font-size: 16px;
  margin: 10px 0 0;
}
#slingshot a.user {
  text-decoration: none;
  color: #333;
}
#slingshot a.user:hover {
  color: #777;
}
#slingshot img {
  width: 100px;
  height: 100px;
}
#slingshot .slingshot-actions a {
  display: inline-block;
  margin: 0 10px 0;
  font-size: 23px;
  text-decoration: none;
}
#slingshot .slingshot-actions {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 15px;
}


/* Post bar */
#post-bar input {
  height: 50px;
  width: 100%;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}
#post-bar input:focus {
  border-color: #3498db;
  outline: 0;
}

/* Posts */
#posts {
  margin-bottom: 15px; /* To add space at bottom on mobile */
}
.post {
  width: 100%;
  margin: 20px 0 0 0;
}
.post > a img {
  height: 55px;
  width: 55px;
  border: 1px solid white;
  float: left;
  margin-right: 10px;
  display: block;
}
.post section {
  word-wrap: break-word;
  font-size: 17px;
  font-family: 'Roboto Slab';
  padding: 20px 10px;
  margin-left: 73px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  background-color: white;
}
.post footer {
  border-top: 1px solid #eee;
  font-size: 14px;
  padding-top: 10px;
}
.post footer abbr {
  color: #999;
  float: right;
}


/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  color: #555;
  text-align: center;
  padding: 20px 0;
}
#footer a {
  margin-left: 8px;
  display: inline-block;
}

/* No JS alert bar */
#noscript {
  color: white;
  background-color: #d9534f;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  position: fixed;
  top: 51px;
  width: 100%;
  z-index: 1035;
}
#noscript a { color: white; text-decoration: underline; }
#noscript a:hover { text-decoration: none; }